        ul {
            display: flex; /* menu is horizontal */
            flex-wrap: wrap;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color:tomato;
            overflow: hidden;
        }

        li{
          float:left; 
        flex: 1; /* equal width links*/
        }


        li a{
            flex: 1;
            display:block;
            color:white;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }

 /* Media query - applies only on small screens (600px wide or less */
            @media screen and (max-width: 600px) {
                 
                body {
                    background-color:black;
                    font-size: 100px;
                    
                }
                ul {
                    flex-direction: column; /*menu becomes vertical*/
                }

                li {
                    flex: none; /*don't stretch full width*/
                }  
                li a{
                    text-align: left;
                    padding: 12px;
                }

            }
                


        body {
            background-color: lightgray;
            font size: 16px;
            font-family:Arial, Helvetica, sans-serif;
            color: white;

            margin: 0;
            padding-top: 0;
            
            /*background-image: url(heads.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed; */
        }

            

        h1 {
            color: azure;
            text-align: centre;
            margin-top: 20px;
        }

        p {
            max-width: 600px;
            margin: 10px auto;
            line-height: 1.6;
        }

        video {
            width: 100%;
            max-width: 600px;
            height:auto
        }

        img{
            width: 100%;
            max-width: 500px;
            height: auto;
        }
            
    
        